$black:#1b1b1b;
$mid-black:#303030;
$gray:#ececec;
$white:#fdfdfd;
$red:#fa3c3c;
// 
$accent-1:#ecfcff;
$accent-2:#b2fcff;
$accent-3:#5edfff;
$accent-4:#3e64ff;
$accent-4-trans:rgba(61, 100, 255, 0.13);