@use 'colors';
@use 'shared';

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    // 
    @include shared.flex-row-sta;
    align-items: flex-start;
    // 
    // background-color: colors.$black;
}

// 
#navBar {
    width: 85px;
    height: 100%;
    // position: fixed;
    background-color: colors.$white;
    @include shared.flex-col-sta;
    border-right: 1px solid colors.$gray;
}

// 
#navBar-top,
#navBar-bot {
    box-sizing: border-box;
    padding: 7.5px;
    flex: 1;
}

#navBar-top {
    @include shared.flex-col-sta;
}

.layer {
    width: 60px;
    height: 60px;
    // background-color: colors.$accent-1;
    border: 1.5px solid colors.$accent-4;
    @include shared.flex-row-cen;
    border-radius: 999px;
    cursor: pointer;
}

#logo {
    width: 40px;
    height: 40px;
}

#logo-txt {
    display: none;
}

// 
// 
#navBar-bot {
    @include shared.flex-col-end;
    position: relative;
}

#navBar-icons {
    width: 100%;
    height: 35%;
    @include shared.flex-col-end;
    flex-direction: column-reverse;
    justify-content: space-between;


    // 
    a {
        width: 45px;
        height: 45px;
        border: 1.5px solid colors.$white;
        border-radius: 999px;
        @include shared.flex-row-cen;
        cursor: pointer;

        &:hover {
            border-color: colors.$accent-4;
        }

        &:hover:after {
            content: attr(name);
            position: absolute;
            // 
            left: 65px;
            background-color: colors.$white;
            color: colors.$accent-4;
            box-sizing: border-box;
            padding: 3px 5px;
            font-family: 'Roboto', sans-serif;
            border-radius: 3px;
            font-weight: 600;
        }

        i {
            color: colors.$accent-4;
        }
    }
}

// 
// 
@media screen and (max-width:768px) {
    body {
        @include shared.flex-col-sta;
    }

    #navBar {
        width: 100%;
        height: 75px;
        position: fixed;
        @include shared.flex-row-sta;
        border-right: none;
        border-bottom: 1px solid colors.$gray;
    }

    // 
    #navBar-top,
    #navBar-bot {
        box-sizing: border-box;
        padding: 7.5px;
        flex: 1;
    }

    #navBar-top {
        @include shared.flex-row-sta;
    }

    #logo {
        width: 35px;
        height: 35px;
    }

    #logo-txt {
        display: block;
        font-family: 'Roboto Slab', cursive;
        font-size: 18px;
        font-weight: 600;
        color: colors.$accent-4;
    }

    .layer {
        width: 50px;
        height: 50px;
        border-color: transparent;
    }

    #navBar-bot {
        @include shared.flex-row-end;
    }

    // 
    #navBar-icons {
        width: 35%;
        height: 100%;
        @include shared.flex-row-end;
        flex-direction: row-reverse;
        justify-content: space-between;


        // 
        a {
            flex: none;

            &:hover:after {
                content: '';
                // 
                background: none;
                padding: 0;
            }

        }

    }
}